.app-container {
  font-family: Helvetica, sans-serif;
  max-width: 600px;
  margin: 67px auto;
}

.app-nav {
  min-height: 65px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #202020;
  color: #ececec;
  padding: 0 10px;
  z-index: 100;
}